#titulo{
    text-align: center;
}
body{
    background-color: black;
    margin: 0px;
    width: 100%;
}
label{
    color: white;
}
#titulo{
    color: white;
}
form{
    margin: 0 auto;
    max-width: 50%;
}
form{
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#botones{
    display: flex;
}
#submit {
    border-radius: 10px;
    border-color: white;
    background-image: url("37368.jpg");
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    padding: 2%;
    margin: 20px;
    color: white;
}
#submit:hover{
    background-image: url("sharingan-写輪眼 (1).gif");
    background-size: cover;
    background-position: center;

}
.botones2{
    border-radius: 10px;
    border-color: white;
    background-image: url("37368.jpg");
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    padding: 2%;
    margin: 20px;
    color: white;
}
.botones2:hover{
    background-image: url("sharingan-写輪眼 (1).gif");
    background-size: cover;
    background-position: center;

}
.botones1:hover{
    background-image: url("sharingan-写輪眼 (1).gif");
    background-size: cover;
    background-position: center;

}
#enlace{
        text-decoration: none;
        color:white;
}
