#titulo{
    text-align: center;
}
body{

    background-image: url("975787.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
label{
    color: white;
}
#titulo{
    color: white;
}
form{
    margin: 0 auto;
    max-width: 50%;
}
input{

}
form{
    background-image: url("403183.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#botones{
    display: flex;
}
#botones1 {
    border-radius: 10px;
    border-color: white;
    background-image: url("37368.jpg");
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    padding: 2%;
    margin: 20px;
    color: white;
}
#botones2{
    border-radius: 10px;
    border-color: white;
    background-image: url("37368.jpg");
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    padding: 2%;
    margin: 20px;
    color: white;
}
#botones2:hover{
    background-image: url("sharingan-写輪眼 (1).gif");
    background-size: cover;
    background-position: center;

}
#botones1:hover{
    background-image: url("sharingan-写輪眼 (1).gif");
    background-size: cover;
    background-position: center;

}
#enlace{
        text-decoration: none;
        color:white;}