h1{
    text-align: center;

}
div{
    text-align: center;
    margin: 0 auto;
    width: 20%;
    background-size: cover;
    background-position: center;
    color: white;


}
body{
    background-image: url("558703 (2).png");

}